body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #575757;
    font-size: 16px;
    line-height: 1.5;
}

.carousel {
    width: 80%;
    margin: 0 auto;
}

#person {
    padding: 10px 20px;
    text-align: center;
    min-height: 140px;
    background: #f8f8f8;
    margin: 40px 0 20px 0;
    border-radius: 4px;
}

#name {
    padding: 10px 0;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#shoutout {
    clear: both;
    font-size: 18px;
}

.buttons {
    text-align: center;
    margin: 0 auto;
}

#previous {
    display: inline-block;
}

#current-person {
    display: inline-block;
    width: 100px;
}

#next {
    display: inline-block;
}

.button {
    background: #575757;
    color: #fff;
    padding: 5px 0px;
    text-align: center;
    cursor: pointer;
    margin: 0 10px;
    width: 100px;
    border-radius: 4px;
}

.button:hover {
    background: #333;
    transition: .25s all;   
}